.content {
  max-width: 100%;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.avatar {
  align-items: center;
  margin-bottom: 24px;
  flex-direction: column;

  img {
    max-width: 160px;
    border-radius: 80px;
    margin: 0 auto 24px;
  }
}
